<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="topmenu">
	
	<select id="get_topmenu_list" resultType='kr.co.community.beans.BoardInfoBean'>
		<![CDATA[
			select board_info_idx, board_info_name
			from board_info_table
			order by board_info_idx
		]]>
	</select>
	
	
	<select id="get_chart_list" resultType='kr.co.community.beans.ChartInfoBean'>
		<![CDATA[
			select chart_info_idx, chart_info_name
			from chart_category
			order by chart_info_idx
		]]>
	</select>
	
	
	<select id="get_shop_list" resultType='kr.co.community.beans.ShopInfoBean'>
		<![CDATA[
			
			select shop_idx, shop_name
			from category_shop
			order by shop_idx
		
		]]>
	</select>
	
	<select id="getcartMenu" resultType='kr.co.community.beans.cartInfoBean'>
		<![CDATA[
			
			select cart_idx, cart_name
			from category_cart
			order by cart_idx
		
		]]>
	</select>
	
</mapper>